<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */
?>
<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */?>
<?php $_product = $this->getProduct() ?>

<?php if ($this->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <p class="availability in-stock" itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span class="hide" aria-hidden="true" itemprop="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(), false, false); ?></span><span class="hide" aria-hidden="true" itemprop="priceCurrency"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?></span><?php echo $this->__('Availability:') ?> <span><link href="http://schema.org/InStock" itemprop="availability"><?php echo $this->__('In stock') ?></span></p>
    <?php else: ?>
        <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
    <?php endif; ?>
<?php endif; ?>

<?php if($_product->getMsrp()): ?>
<div style="margin-top: 12px;">
    <span style="margin-right: 5px;text-decoration: line-through;">MSRP: </span><span style="text-decoration: line-through;">$<?php echo round($_product->getMsrp(),2); ?></span>
</div>
<?php endif;?>
<div id="sale_price"><span class="bol"><?php echo $this->__("Price:") ?></span><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_product); ?></div>

<?php echo $this->getChildHtml('product_type_data_extra') ?>
