
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
    $_baseUrl = Mage::getBaseUrl();
    $_currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $_relativeUrl = str_replace($_baseUrl, '/', $_currentUrl);
?>
<?php
    $_description = $_product->getDescription();
    $_attributes = new Mage_Catalog_Block_Product_View_Attributes();
    $_attributes->setProduct($_product->getId());
    $_additional = $_attributes->getAdditionalData();
    $_reviews = false;
?>
 <?php 
    $price = $_product->getPrice() ;
    $final_price = $_product->getFinalPrice() ;
    $saved = $price  -  $final_price;
    $discount = round( ($saved / $price)*100, 0 );
?> 
 
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/deals.css')?>" /> 
<div class="banner"><img src="<?php echo $this->getSkinUrl('images/1-Cyber-Monday.jpg')?>"/></div>
<section  class="maincontent" >

    <?php $_iterator = 0; ?>
   
    <div class="controller" id="controller" >
    	<div class="but1" >ON SALE NOW</div>
    	<div class="but2 active" >COMING SOON</div>
    </div>
   
       <div class="row product-view" style="margin-top: 30px;">
       		<div class="small-12 product-essential columns">
	            <div class="row">
		             
		                 
		                    
		                    <div class="small-12 medium-6 product-shop columns">
								 <img src="<?php echo $this->getSkinUrl('images/laptop_test.jpg')?>" />          
		                    </div>
		                    
		              		 <div class="small-12 medium-3 product-shop columns">
		                         <h1 style="text-align: center;">X1 Carbon 5th Gen</h1>
		                         <h6 style="text-align: center;">Carbon-Tough Yet Ultralight</h6>
		                         <?php if ($_product->getExtra()):?>
									    <div id="showtime">
									    
									        <?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getExtra(), 'extra') ?>
									    </div>
									<?php endif;?>
		                     </div>
		                     <div class="small-12 medium-3 product-shop columns">
		                     	 <div id="savetext">
		                     	 	<div>
		                     	 		<div class="one">
		                     	 			<div class="sub" style="font-size: 50px;">SAVE</div>
			                     	 		<div class="sub">
			                     	 			<div>UP</div>
			                     	 			<div>TO</div>
			                     	 		</div>
		                     	 		</div>
		                     	 		<div class="two">
		                     	 			??%
		                     	 		</div>
		                     	 	</div>
		                     	 </div>
		                         <div style="margin-top: 12px;">
								    <span style="margin-right: 5px;text-decoration: line-through;">MSRP: </span><span style="text-decoration: line-through;">$<?php echo round($_product->getMsrp(),2); ?></span>
								 </div>
		                         <div id="sale_price"><span class="bol"><?php echo $this->__("Price:") ?></span><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_product); ?></div>
		                          
		                          
		                         <div class="pricedata">
		                        	  <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
								      <div class="two">
										<?php endif;?>
								        <?php if($saved > 0):?> 
								        <div>
								            <span><?php echo $this->__("You Save:") ?></span><span class="saveprice">
								            	      $<?php echo $saved?> (<?php echo $discount?>%)
								            </span>
								        </div>
								        <?php endif;?>
		
		
		                                <?php if($_product->getWeight() - 2000 < 0): ?>
								        <div>
								            <span><?php echo $this->__("FREE Shipping") ?></span>
								        </div>
		                                <?php endif;?>
		
								       <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
								      </div>
								      <?php endif;?>
							      </div>
		                          
		                         <div style="width:100%;height:35px;text-align:center;margin-top: 20px;"><button>Shop Now</button></div>
		                         <div id="minicountdownContainer">
								    <div >		
										<ul>
											<li id="day_show">00</li>
											<li>:</li>
											<li id="hour_show">00</li>
											<li>:</li>
											<li id="minute_show">00</li>
											<li>:</li>
											<li id="second_show">00</li>
										</ul>	
									</div>
								</div>
		                     </div>
		              
		              
						
	              </div>
              </div>
       </div>		
       
       
 	              <!-- Magellan Fixed Navigator -->
					    <?php echo $this->getChildHtml('product_nav'); ?>
					
					    <div class="product-collateral-wrapper">
					        <?php echo $this->getChildHtml('upsell_products') ?>
					
					        <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
					            <?php if ($alias == "ratings-reviews"): ?>
					                <?php $_reviews = true; ?>
					                <?php echo $this->getChildHtml('custom_info') ?>
					            <?php endif;?>
					            <div class="product-collateral <?php echo "{$alias}"?> clearfix row">
					                <?php echo $html; ?>
					            </div>
					        <?php endforeach;?>
					
					        <?php if (!$_reviews): ?>
					            <?php echo $this->getChildHtml('custom_info') ?>
					        <?php endif; ?>
					
					        <?php echo $this->getChildHtml('product_additional_data') ?>
					        <?php echo $this->getChildHtml('related_products') ?>
					    </div>
    
    
</section>
<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
<script src="<?php echo $this->getSkinUrl('js/thirdparty/jquery.sticky.js'); ?>"></script>
<script type="text/javascript"> 

    (function($,window,document){
		window.noStickyForIntensoNav = true;
		$("#controller").sticky({topSpacing:0,zIndex:"200"});
		$(".magellan-nav").attr("data-magellan-expedition","");
		setTimeout(function(){
			var bannerHeight = $(".banner img").height();
		$("section[class=maincontent]").css("margin-top",bannerHeight+24+"px");
		},500);
		if($(".magellan-nav dl dd").length > 1){//nav
			var num = $(".magellan-nav dl dd").length;
			var width = 1/num * 100 ;
			$(".magellan-nav dl dd").each(function(){
				$(this).css("width",width+"%");
				$(this).css("text-align","center");
			});
		}
		window.getNowtimeOfUtc = function(date){
			var arr = date.toUTCString().split(" ");
			var map = {
			    "Jan":"1",
			    "Feb" :"2",
			    "Mar":"3", 
			    "Apr":"4",
			    "May":"5",
			    "Jun":"6",
			    "Jul":"7",
			    "Aug":"8",
			    "Sep":"9",
			    "Oct":"10",
			    "Nov":"11",
			    "Dec":"12"
			};
			var timeStr = arr[3]+"-"+map[arr[2]]+"-"+arr[1]+" "+arr[4]+"+0000";
			var times = new Date(timeStr).getTime();
			return times;
	};
        
	 
    	var startTime = "2017-7-31 00:00:00+0000";//"2017-7-25 21:00:00+0000"; 
    	var endTime = "2017-7-31 23:00:00+0000";//"2017-7-28 21:00:00+0000"; 

    	var startDate = new Date(startTime);
    	var enDate = new Date(endTime);
    	
    	var leftTimeForStart = parseInt(startDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);//倒计时
    	var leftTimeForEnd = parseInt(enDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);
    	if(leftTimeForStart < 0 && leftTimeForEnd > 0){ 
        	$("#minicountdownContainer").removeClass("hidden");
        	 timer();
    	} 
    	function timer(){

    		var countdown = setInterval(showLeftTime, 1000);

    		function showLeftTime(){
    			var intDiff = parseInt(enDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);
    			var day=0,

    				hour=0,

    				minute=0,

    				second=0;		

    			 
    			if(intDiff > 0){

    				day = Math.floor(intDiff / (60 * 60 * 24));

    				hour = Math.floor(intDiff / (60 * 60)) - (day * 24);

    				minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);

    				second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);

    			} 
               
    			if (day <= 9) day = '0' + day;
    			if (hour <= 9) hour = '0' + hour;
    			if (minute <= 9) minute = '0' + minute;
    			if (second <= 9) second = '0' + second;

    			$('#day_show').html(day);

    			$('#hour_show').html('<s id="h"></s>'+hour);

    			$('#minute_show').html('<s></s>'+minute);

    			$('#second_show').html('<s></s>'+second);

    			}

    	} 

    	$(".but1").on("click",function(){
			window.location.href="/deals/cybermonday";

    	});
    	 
    		
    })(jQuery,window,document);


    </script>