
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/deals.css')?>" /> 
<div class="banner"><img src="<?php echo $this->getSkinUrl('images/2-Deals.jpg')?>"/></div>
<section  class="maincontent" id="deals" >

    <?php $_iterator = 0; ?>
    <ul class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
    	<?php if( ++$_iterator == 1 ): ?>
        <li class="firstproduct">
             <div class="row product-view">
		       		<div class="small-12 product-essential columns">
			            <div class="row">
				                    <div class="small-12 medium-4 product-shop columns">
										 	 <img src="<?php echo $this->getSkinUrl('images/laptop_test.png')?>" />
										 	           
				                    </div>
				              		 <div class="small-12 medium-4 product-shop columns">
				                    		 <h1 style="text-align: center;">X1 Carbon 5th Gen</h1>
		                         			 <h6 style="text-align: center;">Carbon-Tough Yet Ultralight</h6>
		                         			  <?php if ($_product->getExtra()):?>
											      <div id="showtime">
											          <?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getExtra(), 'extra') ?>
											      </div>
											  <?php endif;?>
				                    </div>
				                     <div class="small-12 medium-4 product-shop columns">
					                     	 <div id="savetext">
					                     	 	<div>
					                     	 		<div class="one">
					                     	 			<div class="sub" style="font-size: 50px;">SAVE</div>
						                     	 		<div class="sub">
						                     	 			<div>UP</div>
						                     	 			<div>TO</div>
						                     	 		</div>
					                     	 		</div>
					                     	 		<div class="two">
					                     	 			50%
					                     	 		</div>
					                     	 	</div>
					                     	 </div>
					                     	  <?php 
											    $price = $_product->getPrice() ;
											    $final_price = $_product->getFinalPrice() ;
											    $saved = $price  -  $final_price;
											    $discount = round( ($saved / $price)*100, 0 );
											?> 
					                         <div style="margin-top: 12px;">
											    <span style="margin-right: 5px;text-decoration: line-through;">MSRP: </span><span style="text-decoration: line-through;">$<?php echo round($_product->getMsrp(),2); ?></span>
											 </div>
					                         <div id="sale_price"><span class="bol"><?php echo $this->__("Price:") ?></span><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_product); ?></div>
					                         <div class="pricedata">
					                        	  <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      <div class="two">
													<?php endif;?>
											        <?php if($saved > 0):?> 
											        <div>
											            <span><?php echo $this->__("You Save:") ?></span><span class="saveprice">
											            	      $<?php echo $saved?> (<?php echo $discount?>%)
											            </span>
											        </div>
											        <?php endif;?>
					
					
					                                <?php if($_product->getWeight() - 2000 < 0): ?>
											        <div>
											            <span><?php echo $this->__("FREE Shipping") ?></span>
											        </div>
					                                <?php endif;?>
					
											       <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      </div>
											      <?php endif;?>
										      </div>
					                          
					                          <div style="width:100%;height:35px;text-align:center;margin-top:20px;"><a href="<?php echo $_product->getProductUrl() ?>"><button>Shop Now</button></a></div>
					                          <div style="width:100%;height:35px;margin-top:5px;color:red;"><span style=" margin-right:10px">COUPON:</span><span>abcdef</span></div>
				                     </div>
				              
				              
								
			              </div>
		              </div>
		       </div>
        </li>
        <?php endif; ?>
        
        <?php if( ++$_iterator > 1 ): ?>
        <li class="firstproduct">
             <div class="row product-view">
		       		<div class="small-12 product-essential columns">
			            <div class="row">
				                    <div class="small-12 medium-8 product-shop columns">
				                             <h1 style="text-align: center;">X1 Carbon 5th Gen</h1>
		                         			 <h6 style="text-align: center;">Carbon-Tough Yet Ultralight</h6> 
										 	 <img src="<?php echo $this->getSkinUrl('images/laptop_test.png')?>" />
										 	 <?php if ($_product->getExtra()):?>
											      <div id="showtime">
											          <?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getExtra(), 'extra') ?>
											      </div>
											  <?php endif;?>          
				                    </div>
						              	  <?php 
											    $price = $_product->getPrice() ;
											    $final_price = $_product->getFinalPrice() ;
											    $saved = $price  -  $final_price;
											    $discount = round( ($saved / $price)*100, 0 );
											?> 
				                     <div class="small-12 medium-4 product-shop columns">
					                     	 <div class="savetext">
					                     	 	<div>
					                     	 		<div class="one">
					                     	 			<div class="sub" style="font-size: 37px;">SAVE</div>
						                     	 		<div class="sub">
						                     	 			<div>UP</div>
						                     	 			<div>TO</div>
						                     	 		</div>
					                     	 		</div>
					                     	 		<div class="two">
					                     	 			50%
					                     	 		</div>
					                     	 	</div>
					                     	 </div>
					                         <div style="margin-top: 25px;">
											    <span style="margin-right: 5px;text-decoration: line-through;">MSRP: </span><span style="text-decoration: line-through;">$<?php echo round($_product->getMsrp(),2); ?></span>
											 </div>
					                         <div id="sale_price"><span class="bol"><?php echo $this->__("Price:") ?></span><?php if(Mage::getStoreConfig('intenso/product_page/product_show_price_tag', Mage::app()->getStore())) echo $this->getPriceHtml($_product); ?></div>
					                         <div class="pricedata">
					                        	  <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      <div class="two">
													<?php endif;?>
											        <?php if($saved > 0):?> 
											        <div>
											            <span><?php echo $this->__("You Save:") ?></span><span class="saveprice">
											            	      $<?php echo $saved?> (<?php echo $discount?>%)
											            </span>
											        </div>
											        <?php endif;?>
					
					
					                                <?php if($_product->getWeight() - 2000 < 0): ?>
											        <div>
											            <span><?php echo $this->__("FREE Shipping") ?></span>
											        </div>
					                                <?php endif;?>
					
											       <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
											      </div>
											      <?php endif;?>
										      </div>
					                          
					                          <div style="width:100%;height:35px;text-align:center;margin-top:20px;"><a href="<?php echo $_product->getProductUrl() ?>"><button>Shop Now</button></a></div>
					                          <div style="width:100%;height:35px;margin-top:5px;color:red;"><span style=" margin-right:10px">COUPON:</span><span>abcdef</span></div>
				                     </div>
				              
				              
								
			              </div>
		              </div>
		       </div>
        </li>
        <?php endif; ?>
        
    <?php endforeach; ?>
    </ul>
    
</section>
    <script type="text/javascript">

    (function($,window,document){
		window.noStickyForIntensoNav = true;
    		
    })(jQuery,window,document);

    </script>

