<?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>



<?php if( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/cybermonday/comming') === false ): ?>
<?php //echo Mage::helper('core/url')->getCurrentUrl(); ?>
<?php require dirname(__FILE__).'/../../deals/cybermonday_comming.phtml' ?>

<?php elseif( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/cybermonday') === false ): ?>
<?php require dirname(__FILE__).'/../../deals/cybermonday.phtml' ?>

<?php elseif( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/flash/comming') === false ): ?>
<?php //echo Mage::helper('core/url')->getCurrentUrl(); ?>
<?php require dirname(__FILE__).'/../../deals/flash_comming.phtml' ?>

<?php elseif( !strpos( Mage::helper('core/url')->getCurrentUrl(), 'deals/flash') === false ): ?>
<?php require dirname(__FILE__).'/../../deals/flash.phtml' ?>

<?php else: ?>




<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
    $_baseUrl = Mage::getBaseUrl();
    $_currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $_relativeUrl = str_replace($_baseUrl, '/', $_currentUrl);
?>
<?php
    $_description = $_product->getDescription();
    $_attributes = new Mage_Catalog_Block_Product_View_Attributes();
    $_attributes->setProduct($_product->getId());
    $_additional = $_attributes->getAdditionalData();
    $_reviews = false;
?>
 <?php 
    $price = $_product->getPrice() ;
    $final_price = $_product->getFinalPrice() ;
    $saved = $price  -  $final_price;
    $discount = round( ($saved / $price)*100, 0 );
?> 
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<section role="main" itemtype="http://schema.org/Product" itemscope>
    <div class="row product-view">
        <meta content="<?php echo $_relativeUrl; ?>" itemprop="url">
        <!-- Product Pic & Info -->
        <div class="small-12 product-essential columns">
            <div class="row">
                <form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <div class="no-display">
                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                        <input type="hidden" name="related_product" id="related-products-field" value="" />
                    </div>
                    <!-- First Column: Product Image -->
                    <?php echo $this->getChildHtml('media') ?>
                    <!-- Central Column: Product info -->
                    <div class="small-12 medium-5 product-shop columns">
                        <h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                        <!--<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>-->
                        <?php echo $this->getChildHtml('extrahint') ?>
                        <?php echo $this->getChildHtml('alert_urls') ?>
                        <?php echo $this->getChildHtml('media_mobile') ?>

						<?php if($_product->getModel()): ?>
                        <div style="height: 20px;" class="product_model">
                            <span style="margin-right: 5px">Model: </span><span><?php echo $_product->getModel(); ?></span>
                        </div>
                        <?php endif;?>
                        
                        <?php if($_product->getSku()): ?>
                        <div style="height: 16px;" class="product_sku">
                            <span style="margin-right: 5px">SKU: </span><span><?php echo $_product->getSku(); ?></span>
                        </div>
                        <?php endif;?>

                        

                       

                        <?php echo $this->getChildHtml('product_type_data') ?>

                        

                        <?php echo $this->getTierPriceHtml() ?><!-- view/type/default.phtml(msrp id='sale_price') -->
                        
                        <div class="pricedata">
                        	  <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
						      <div class="two">
								<?php endif;?>
						        <?php if($saved > 0):?> 
						        <div>
						            <span><?php echo $this->__("You Save:") ?></span><span class="saveprice">
						            	      $<?php echo $saved?> (<?php echo $discount?>%)
						            </span>
						        </div>
						        <?php endif;?>


                                   <?php if($_product->getWeight() && $_product->getWeight() - 2000 < 0): ?>
			                        <div>
			                            <span><?php echo $this->__("FREE Shipping") ?></span>
			                        </div>
			                        <?php endif;?>

						       <?php if($saved > 0 || ($_product->getWeight() - 2000 < 0)):?> 
						      </div>
						      <?php endif;?>
						  </div>
						  
                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                        <?php endif;?>

                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        <?php endif;?>

                        <!-- 2017.06.15 start -->

                        <?php echo $this->getChildHtml('product_view_preorder') ?>
                        <?php echo $this->getChildHtml('product_view_coupon') ?>
						<?php echo $this->getChildHtml('product_view_countdown') ?>
                        <!-- 2017.06.15 end -->
						 
						    				
                        <?php if ($_product->getShortDescription()):?>
                            <div class="short-description hide-for-small-only">
                                <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                            </div>
                        <?php endif;?>
                        <?php echo $this->getChildHtml('other');?>
                    </div>
                    <!-- Right column: Buy Box -->
                    <div class="small-12 medium-3 product-shop-side columns">
                        <?php if ($_product->isSaleable()):?>
                            <?php echo $this->getChildChildHtml('product_buy_box', '', true, true) ?>
                        <?php endif;?>
                        <?php if ($this->canEmailToFriend()): ?>
                            <p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
                        <?php endif; ?>
                        <?php if ($_product->getBrandLogo()):?>
                            <?php $logo = Mage::getModel('itactica_logoslider/logo')->load($_product->getBrandLogo()); ?>
                            <div class="brand-logo">
                                <?php if ($logo->getSearchByKey() == 1): ?>
                                <a href="<?php echo Mage::getBaseUrl(); ?>catalogsearch/result/?q=<?php echo urlencode($logo->getSearchKey()); ?>" title="<?php echo $this->__('Click to view more products from') . " " .$logo->getTitle(); ?>">
                                    <?php elseif ($logo->getSearchByKey() == 2): ?>
                                    <a href="<?php echo $logo->getUrlToRedirect(); ?>">
                                        <?php endif; ?>
                                        <img src="<?php echo Mage::getBaseUrl('media') . 'logo/image' . $logo->getFilename(); ?>" alt="<?php echo $logo->getTitle(); ?>">
                                        <?php if ($logo->getSearchByKey() == 1 || $logo->getSearchByKey() == 2): ?>
                                    </a>
                                <?php endif; ?>
                            </div>
                        <?php endif;?>
                        <?php if (Mage::getModel('cms/block')->load('product_view_block_1')->getIsActive()): ?>
                            <div class="product-view-block-1">
                                <?php echo $this->getChildHtml('product_view_block_1') ?>
                            </div>
                        <?php endif; ?>
                        
                        <div id="right-payicons">
						  	<div class="scure">
						  		<div class="fir"></div><div class="sec"></div>
						  	</div>
						  	<div class="paymethods">
						  		<img src="<?php echo Mage::getDesign()->getSkinUrl('images/payment4.png');?>" />
						  	</div>
						</div>
                        
                    </div>
                </form>
                <script type="text/javascript">
                //<![CDATA[
                    var productAddToCartForm = new VarienForm('product_addtocart_form');
                    productAddToCartForm.submit = function(button, url) {
                        <?php if(Mage::helper('itactica_intenso')->formFieldsType() == 'mdformfields'): ?>
                        Object.extend(Validation, {
                            isVisible : function(elm) {
                                while(elm.tagName != 'BODY') {
                                    // validate hidden select boxes when chosen.js is enabled
                                    if (elm.className.indexOf('super-attribute-select') > -1 || elm.className.indexOf('product-custom-option') > -1) {
                                        elm = elm.parentNode;
                                    }
                                    if(!$(elm).visible()) return false;
                                    elm = elm.parentNode;
                                }
                                return true;
                            }
                        });
                        <?php endif; ?>
                        if (this.validator.validate()) {
                            var form = this.form;
                            var oldUrl = form.action;

                            if (url) {
                               form.action = url;
                            }
                            var e = null;
                            try {
                                this.form.submit();
                            } catch (e) {
                            }
                            this.form.action = oldUrl;
                            if (e) {
                                throw e;
                            }

                            if (button && button != 'undefined') {
                                button.disabled = true;
                            }
                        }
                    }.bind(productAddToCartForm);

                    productAddToCartForm.submitLight = function(button, url){
                        if(this.validator) {
                            var nv = Validation.methods;
                            delete Validation.methods['required-entry'];
                            delete Validation.methods['validate-one-required'];
                            delete Validation.methods['validate-one-required-by-name'];
                            // Remove custom datetime validators
                            for (var methodName in Validation.methods) {
                                if (methodName.match(/^validate-datetime-.*/i)) {
                                    delete Validation.methods[methodName];
                                }
                            }

                            if (this.validator.validate()) {
                                if (url) {
                                    this.form.action = url;
                                }
                                this.form.submit();
                            }
                            Object.extend(Validation.methods, nv);
                        }
                    }.bind(productAddToCartForm);
                //]]>
                    jQuery(".gobuy").on("click",function(){
                        if(jQuery(this).hasClass("disabled")){
							return;
                        }
                        productAddToCartForm.submit(this)
                        });
                </script>
            </div>
        </div>
    </div>

    <!-- Magellan Fixed Navigator -->
    <?php echo $this->getChildHtml('product_nav'); ?>

    <div class="product-collateral-wrapper">
        <?php echo $this->getChildHtml('upsell_products') ?>

        <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
            <?php if ($alias == "ratings-reviews"): ?>
                <?php $_reviews = true; ?>
                <?php echo $this->getChildHtml('custom_info') ?>
            <?php endif;?>
            <div class="product-collateral <?php echo "{$alias}"?> clearfix row">
                <?php echo $html; ?>
            </div>
        <?php endforeach;?>

        <?php if (!$_reviews): ?>
            <?php echo $this->getChildHtml('custom_info') ?>
        <?php endif; ?>

        <?php echo $this->getChildHtml('product_additional_data') ?>
        <?php echo $this->getChildHtml('related_products') ?>
    </div>
</section>
 


 <?php endif; ?>
