.r-section ul.left li {
   text-align:center
}
@media only screen and (max-width: 40em){
  .electronics_services {
    display:none
  }
}
@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:200;
	src:url("../fonts/sf-pro-display_thin.woff") format("woff");
}

