 /*cybermonday.phtml deals.phtml flash.phtml*/

	/*cybermonday.phtml*/
 
.right-off-canvas-menu.main-nav{
	margin: 0 auto;
    position: absolute;
    height: 44px;
    min-height: 0;
}
.off-canvas-wrap .inner-wrap{
	max-width: 1200px;
    margin: 0 auto;
}
 
/* .row.footer-bottom{
	position: absolute;
    margin: 0 auto;
    left: 0;
    bottom: -164px;
    margin-bottom: 10px;
} */
.mainrow{
	min-width: 300px;
	max-width: 1200px;
	padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
 
.maincontent{
	max-width: 1200px;
    margin: 0 auto;
    margin-top: 500px;
}
.controller{
	width:100%;
	height:50px;
	border: 1px solid rgb(0, 169, 144);
}
.but1,.but2{
	width: 49.8%;
	display:inline-block;
	height: 100%;
    text-align: center;
    line-height: 50px;
    word-spacing: 20px;
    font-size: 30px;
    color: #Fff;
    cursor:pointer;
}
.but1{
	background: #fff;
    color: black;
}
.but2{
	background: #fff;
    color: black;
}
div.inner-wrap{
	position:static;
}
.banner{
	position: absolute;
    left: 0;
    top: 130px;	
}
h6{
	font-weight: 300;
}
#minicountdownContainer ul{
	list-style:none;
	height: 50px;
	text-align: center;
	margin: 0 20px;
}
#minicountdownContainer ul li{
	margin-right:5px;
	font-size: 25px;
	color: red;
	display: inline-block;
}
#savetext{
	width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: green;
}
#savetext > div{
	
}
#savetext .one,#savetext .two{
	display:inline-block;
}
#savetext .one .sub{
	display:inline-block;
}
#savetext .two{
	font-size: 40px;
}
section.top-bar-section{
	max-width: 1200px;
    margin: 0 auto;
}





	/*deals.phtml*/
#deals{
	margin-top: 533px;
}
 
#deals #sale_price .bol{
	font-size:22px;
	color: green;
}
#products-list{
	list-style:none;
	margin-left:0;
}
#products-list li{
	float: left;
	width: 50%;
	width: calc(50% - 5px);
}
#products-list li:nth-child(2n){
	float: left;
	width: calc(50% - 5px);
	margin-right: 10px;
}
#products-list li:first-child{
	width: 100%;
}	
#products-list li.firstproduct{
	 background-color: #f4e4e4;
	 margin-bottom: 20px;
}
#products-list .product-view{
	background-color: #f4e4e4;
}
#deals .product-view{
	background-color: none;
}
#deals #savetext{
	width: 100%;
    height: 65px;
    text-align: left;
    font-size: 16px;
    color: green;
}
#deals #savetext > div{
	
}
#deals #savetext .one,#deals #savetext .two{
	display:inline-block;
}
#deals #savetext .one .sub{
	display:inline-block;
}
#deals #savetext .two{
	font-size: 50px;
	width:10%;
}
#deals .savetext{
	width: 100%;
    height: 50px;
    font-size: 12px;
    color: green;
    margin-top: 60px;
}
#deals .savetext > div{
	
}
#deals .savetext .one,.savetext .two{
	display:inline-block;
}
#deals .savetext .one{
	width:70%;
}
 
#deals .savetext .one .sub{
	display:inline-block;
}
#deals .savetext .two{
	font-size: 38px;
	width:10%;
}
#controller .active{
	background-color:red;
	color:#fff;
}
#sale_price  .price-box{
	margin: 15px 0 0;
	display: inline-block;
    position: absolute;
}
#showtime{
    width:100%;
    height:195px;
    margin-top: 20px;
    overflow-x: hidden;
}
#showtime ul{
  list-style:none;
  margin:0;
  padding:0;
}
#showtime ul li{
  width:160px !important;
  height:65px;
  float: left;
}
#showtime ul li > div{
  float:left;
}
#showtime ul li > div:nth-child(1){
  width:45px;
  height:100%;
}
#showtime ul li > div:nth-child(2){
  width:110px;
  height:100%;
}
#showtime ul li > div:nth-child(2) > div {
  width:100%;
  height:30px;
}


@media only screen and (max-width: 40em){
	
		#showtime {
            height: 240px;
        }
        #showtime ul li{
        	width:auto;
        }
        #showtime ul li > div:nth-child(1){
        	width: 42px;
        }
        #showtime ul li > div:nth-child(2){
       		width:103px;
       		margin-left: 10px;
       }
}
@media only screen and (min-width: 40.063em) and (max-width: 48em){
		#showtime ul li{
            width: 170px;
      	}
        #showtime ul li > div:nth-child(2){
            width:104px;
      	}
      	#showtime{
            height: 235px;
      	}
      	#showtime ul li > div:nth-child(1){
		width:42px;
		}
		#showtime ul li > div:nth-child(2){
			width:85px;
			height:auto;
		}
		#showtime ul li > div:nth-child(2) > div{
			height:auto;
		}
		#showtime ul li{
			width:150px;
		}
}
@media only screen and (min-width: 48.063em) and (max-width: 64em){
		#showtime ul li > div:nth-child(1){
			width:42px;
		}
		#showtime ul li > div:nth-child(2){
			width:72px;
			height:auto;
		}
		#showtime ul li > div:nth-child(2) > div{
			height:auto;
		}
		#showtime ul li{
			width:130px;
		}
}
@media only screen and (min-width: 64.063em) and (max-width: 75em){
		 #showtime ul li{
            width: 130px;
      }
      #showtime ul li > div:nth-child(2){
            width:104px;
      }
      #showtime{
            height: 235px;
      }
      #showtime ul li > div:nth-child(1){
			width:42px;
			margin-right: 5px;
		}
		#showtime ul li > div:nth-child(2){
			width:72px;
			height:auto;
		}
		#showtime ul li > div:nth-child(2) > div{
			height:auto;
		}
		#showtime ul li{
			width:150px;
		}
}