<?php
/**
 * coupon template
 *
 * @see Mage_Catalog_Block_Product_View_Coupon
 */
?>
 <?php $_product = $this->getProduct(); ?>
 
  <?php if(Mage::app()->getStore()->getCode() == "ru" && ($_product->getSku() == "X17" || $_product->getSku() == "X67")): ?>
		<!-- time countdown -->
	    <div id="minicountdownContainer" class="hidden">
	    	 
		    <div class="time-item">		
				<ul>
					<li id="day_show">0</li>
			
					<li id="hour_show">0</li>
				
					<li id="minute_show">0</li>
				
					<li id="second_show">0</li>
				</ul>	
			</div>
		</div>
 
 

    <script type="text/javascript"> //if(couponObj) alert(couponObj[0].name);

    (function($,window,document){
		
		window.getNowtimeOfUtc = function(date){
			var arr = date.toUTCString().split(" ");
			var map = {
			    "Jan":"1",
			    "Feb" :"2",
			    "Mar":"3", 
			    "Apr":"4",
			    "May":"5",
			    "Jun":"6",
			    "Jul":"7",
			    "Aug":"8",
			    "Sep":"9",
			    "Oct":"10",
			    "Nov":"11",
			    "Dec":"12"
			};
			var timeStr = arr[3]+"-"+map[arr[2]]+"-"+arr[1]+" "+arr[4]+"+0000";
			var times = new Date(timeStr).getTime();
			return times;
	};
        
	 
    	var startTime = "2017-7-25 21:00:00+0000";//"2017-7-25 21:00:00+0000"; 
    	var endTime = "2017-7-28 21:00:00+0000";//"2017-7-28 21:00:00+0000"; 

    	var startDate = new Date(startTime);
    	var enDate = new Date(endTime);
    	
    	var leftTimeForStart = parseInt(startDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);//倒计时
    	var leftTimeForEnd = parseInt(enDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);
    	if(leftTimeForStart < 0 && leftTimeForEnd > 0){ 
        	$("#minicountdownContainer").removeClass("hidden");
        	 timer();
    	} 
    	function timer(){

    		var countdown = setInterval(showLeftTime, 1000);

    		function showLeftTime(){
    			var intDiff = parseInt(enDate.getTime()/1000 - getNowtimeOfUtc(new Date())/1000);
    			var day=0,

    				hour=0,

    				minute=0,

    				second=0;		

    			 
    			if(intDiff > 0){

    				day = Math.floor(intDiff / (60 * 60 * 24));

    				hour = Math.floor(intDiff / (60 * 60)) - (day * 24);

    				minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);

    				second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);

    			} 
               
    			if (day <= 9) day = '0' + day;
    			if (hour <= 9) hour = '0' + hour;
    			if (minute <= 9) minute = '0' + minute;
    			if (second <= 9) second = '0' + second;

    			$('#day_show').html(day);

    			$('#hour_show').html('<s id="h"></s>'+hour);

    			$('#minute_show').html('<s></s>'+minute);

    			$('#second_show').html('<s></s>'+second);

    			}

    	} 

    	
    	 
    		
    })(jQuery,window,document);


    </script>

 <?php endif;?>
