<?php
/**
 * coupon template
 *
 * @see Mage_Catalog_Block_Product_View_Coupon
 */
?>
<script>console.log("$this->getCoupon():"+<?php echo $this->getCoupon()?>)</script>
<?php if( $this->getCoupon() ): ?>
		<!-- time countdown -->
	    
		
		<!-- coupon 
	    <div   class="productCoupon hidden">
	      <div class="text">US$30</div>
	      <div><img src="<?php echo Mage::getDesign()->getSkinUrl('images/coupon_1.jpg'); ?>"/></div>
	    </div>-->
	    
    <script type="text/javascript"> var couponObj = JSON.parse('<?php echo $this->getCoupon(); ?>');console.log(couponObj);
    (function($,window,document){
    var couponsHtml = "";
	for(var key in couponObj){
			if(couponObj.hasOwnProperty(key)){
				var couponPriceText = couponObj[key].description.match(/\$\d+/) ? couponObj[key].description.match(/\$\d+/)[0] : "";
				couponsHtml += "<div   class='productCoupon hidden' data-descripton='"+couponObj[key].description+"' ruleId='"+couponObj[key].rule_id+"'>"+
								"<div class='text'> US"+couponPriceText+"</div>"+
								"<div><img src='<?php echo Mage::getDesign()->getSkinUrl('images/coupon_5.jpg'); ?>'/></div>"+
								"<div class='lasttext'><?php echo $this__('Get coupon now')?></div>"+
								"</div>";
				}	
		}
    $("#countdownContainer").after(couponsHtml);
    })(jQuery,window,document);
    </script>

    

    
<?php endif; ?>
