 <?php
/**
 *  
 *
 * @category    design
 * @package     intenso_allandnet
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

 
?>
 <style>
      .order_confrim{
      width:100%;
      height:auto;
      margin:15px auto;
      font-size: 22px;
      border: 1px solid #eee;
      border-radius: 9px;
    }
    .order_confrim div{
      display:inline-block;
      width:70px;
      text-align: center;
      border: 1px solid #eee;
    }
    .order_confrim > div:nth-child(3){
      height:50px;
      width:200px;
      line-height: 50px;
      margin-left: 15px;
      background-color:orange;
      position: relative;
          cursor: pointer;
    } 
    .order_confrim > div:nth-child(3) > div{
      border:none;
      background:url('<?php echo Mage::getDesign()->getSkinUrl('images/shopcar.png');?>') no-repeat;
      width:30px;
      height:30px;
      display:inline-block;
      position: absolute;
      left: 18px;
      top: 7px;
    }
    
    .order_confrim > div:nth-child(2) > span{
      line-height: 30px;
      margin-left: 10px;
    }
    .order_confrim > div:nth-child(2) > div{
      border:none;
      background:url('<?php echo Mage::getDesign()->getSkinUrl('images/love.png');?>') no-repeat;
      width:30px;
      height:30px;
      display:inline-block;
      position: absolute;
      left: 18px;
      top: 7px;
    }
    .order_confrim > div:nth-child(2){
      height:36px;
      width: 230px;
      position: relative;
      margin-left: 15px;
      border: 2px solid #eee;
      cursor: pointer;
    }
    .order_confrim > div:nth-child(1){
      height:30px;
      margin-left: 15px;
      padding-top: 4px;
      position:relative;
    }
   
    
    .order_confrim .arrow{
          width: 0;
          height: 0;
          position: absolute;
          border: 10px solid #fff;
          border-top-color: #eee;
          left: 0px;
          top: 28px;
    }
    .order_confrim > div{
          margin:10px auto;
    }
    @media only screen and (max-width: 40em){
      .saleTime{
            width:100% ;
        }
        .order_confrim{
            width: 60% ;
            margin:0;
        }
    }
 </style>
  <div class="order_confrim">
      <div ><div class="arrow"></div>88</div>
      <div ><div></div><span>Add to Favorites</span></div>
      <div><div></div><span>Preorder<span></div>
  </div>

   