 <?php
/**
 * Intenso Premium Theme
 *
 * @category    design
 * @package     intenso_default
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
 <style>
    .saleTime{
      width: 80%;
      height: 40px;
      margin: 0 auto;
      text-align: center;
      border: 1px dotted;
      background-color: beige;
    } 
    .saleTime span{
      line-height: 40px;
      margin-right: 15px;
    }
    .saleTime span:nth-child(2n-1){
      font-weight: bold;
    }

    .chooseColor,.count{
      height:50px;
      margin: 10px 0;
    }
    .chooseColor{
      margin-top:25px;
    }
    .chooseColor > div {
      height:50px;
      float:left;
    }
    .chooseColor > div:nth-child(1),.count > div:nth-child(1){
      line-height: 50px;
      font-size: 20px;
    }
    .chooseColor > div:last-child{
      height:40px;
      width:300px;
    }
    .chooseColor > div:last-child div{
      width:50px;
      height:40px;
       
      float: left;
      margin: 0 15px;
    }
    .count > div{
      float:left;
    }
    .count > div:last-child{
      height:100%;
      margin-left: 45px;
      line-height: 50px;
        
    }
    .count > div:last-child > div:nth-child(2){
      border:none;
    }
    .count > div:last-child div{
      display:inline-block;
      margin-right: 10px;
      text-align: center;
      line-height: 25px;
      border: 1px solid;
    }
    .count .reduce,.count .add{
      width:20px;
      height:25px;
    }
    .count input{
      width: 40px;
      height: 35px;
      text-align: center;
    }
    
    .chooseColor .pic{
          border: 1px solid #eee;
    }
    .chooseColor .pic:target{
          border-color:red;
    }
    
 </style>
    <div class="saleTime">
      <span>start:</span><span>22 May,2017</span>
      <span>end</span><span>9 June,2017</span>
      <span>Dispatch</span><span>Ships after Jun 13</span>
    </div>
    <!--  <div class="chooseColor">
      <div>Color:</div>
      <div>
        <div class="pic" style="background:url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_color1.png');?>') 50% 10px no-repeat;"></div>
        <div class="pic" style="background:url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_color1.png');?>') 50% 10px no-repeat;"></div>
         
      </div>
    </div>-->

    <div class="count">
      <div>Quantity:</div>
      <div>
        <div class="reduce">-</div>
        <div><input value="1" /></div>
        <div class="add">+</div>
      </div>
    </div>

    

    <!-- <div style="margin: 50px auto;">
      <div><img src="<?php echo Mage::getDesign()->getSkinUrl('images/visa.png'); ?>"/></div>
    </div> -->

    
