 <?php
/**
 *  
 *
 * @category    design
 * @package     intenso_allandnet
 * @copyright   Copyright (c) 2014-2017 Intenso (https://www.getintenso.com)
 * @license     http://getintenso.com/license
 */

 
?>
 <style>
 	.product-img-box figure{
 		margin-left:100px;
 	}
 	.product-img-box figure > div.intenso-product-label-wrapper{
 		margin-left: -18px;
 	}
     .product-img-box{position:relative !important;}
     section.featured-slider{
        width: 246px;
        position: absolute;
        top: 6px;
     }
     section.featured-slider ol li.item{
        float:none !important;
     }
     .product-shop .review{
        height: 50px;
     }
     .product-shop .review > div:nth-child(1){
        text-align: left;
        font-size: 16px;
     }
     .product-shop .review > div:nth-child(1) span{
        line-height: 50px;
     }
     .product-shop .review > div{
        float:left;
        height: 100%;
        width: 40%;
     }
     .pricedata{

     }
     .pricedata .one,.pricedata .two{
        height:40px;
     }
     .pricedata .one span,.pricedata .two span{
        line-height: 40px;
        font-size: 20px;
        margin-right: 10px;
     }
     .pricedata .two > div{
        width:40%;
        float:left;
        height:40px;
     }
     .review .rating-box{
        position: absolute;
        height: 20px;
        left: 2px;
        top: 15px;
        background-size:4.375rem !important;
     }
     .review .rating{
        width:80%;
        background-size:4.375rem;
        height: 100%;
     }
     .review > div:nth-child(2) > div:last-child{
        width:115px;
        margin-left:68px;
        height:100%;
     }
     .review > div:nth-child(2) > div:last-child span{
        line-height:45px;
     }
    #showtime{
      width:100%;
      height:160px;
    }
    #showtime ul{
      list-style:none;
      margin:0;
      padding:0;
    }
    #showtime ul li{
      width:210px;
      height:80px;
      float: left;
    }
    #showtime ul li > div{
      float:left;
    }
    #showtime ul li > div:nth-child(1){
      width:50px;
      height:100%;
    }
    #showtime ul li > div:nth-child(2){
      width:110px;
      height:100%;
      margin-left: 15px;
      
    }
    #showtime ul li > div:nth-child(2) > div {
      width:100%;
      height:30px;
    }
    @media only screen and (min-width: 75.063em) and (max-width: 112em){
        #showtime{
            height:220px !important;
            margin-bottom: 22px;
        }
        .pricedata .two > div{
            width:50% !important;
        }
    }
    @media only screen and (min-width: 40.063em) and (max-width: 75em){
      #showtime ul li{
            width: 170px;
      }
      .pricedata .two > div{
            width:70%;
      }
      .pricedata{
            margin-bottom: 50px;
      }
      #showtime ul li > div:nth-child(2){
            width:104px;
      }
      #showtime{
            height: 235px;
      }
      .order_confrim{
        font-size:17px !important;
      }
      .order_confrim > div:nth-child(2){
        width:200px !important;
      }
    }
    @media only screen and (max-width: 40em){
        #showtime {
            height: 240px;
        }
        .pricedata .two > div{
            width:100%;
        }
        .pricedata .two{
            height:90px;
        }
        
    }
 </style>
 
  <div class="review">
      <div><span>item#:</span><span>UC009</span></div>
      <div style="position: relative;">
        <div class="rating-box"  >
            <div class="rating" >
            </div>
        </div>
        <div ><span>4.9 (86 Reviews)</span></div>
      </div>
  </div>

<div id="showtime">
      <ul>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_battery.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Fight time</div>
            <div>25-27 MINS</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_range.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Control range</div>
            <div>7 KM</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_speed.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Speed</div>
            <div>94 KM/H</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_video.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Video resolution</div>
            <div>5.2K/4K</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_sensory.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Sensory range</div>
            <div>30M</div>
          </div>
        </li>
        <li>
          <div style="background-image: url('<?php echo Mage::getDesign()->getSkinUrl('images/pd_live.png');?>');background-repeat: no-repeat;"></div>
          <div>
            <div>Live view</div>
            <div>1080P</div>
          </div>
        </li>

         
      </ul>
</div>

  <div class="pricedata">
      <div class="one">
          <span>Price:</span><span>$349.99</span>
      </div>
      <div class="two">
        <div>
            <span>Presale Price:</span><span style="color:orange;">US$</span><span style="color:orange;">229.99</span>
        </div>
        <div>
            <span>You Save:</span><span style="color: darkred;">$150.00(43%)</span>
        </div>
      </div>
  </div>  